.login-container {
	padding-top: 20px;
	width: 100%;
	background-color: white;
	width: 40vw;
	margin: 10vh auto;

	button {
		margin: 10px 0 10px 0;
	}

	h1 {
		font-size: 3vw;
		text-align: center;
	}

	.hideSignUp {
		position: relative;
		bottom: -25px;
		left: calc(50% - 25px);
	}
}

@media (max-width: 600px) {
	.login-container {
		width: 80vw;		
	}
}

img {
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: -1000;
}

.backupBackdrop {
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: -1001;
	background-color: teal;
}