<div class="backupBackdrop"></div>
<img src="../assets/jobs2.jpeg" class="hide-on-small-only">
<div class="container">
	<div class="row z-depth-3 login-container">
		<h1 class="col s12">DOWNWORK</h1>
		<form class="col s12">
			<div class="row">
				<div class="input-field col s12">
					<i class="material-icons prefix">account_circle</i>
					<input placeholder="Username" id="username" type="text" autocomplete>
					<label for="username">Username</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<i class="material-icons prefix">dehaze</i>
					<input placeholder="Password" id="password" type="password">
					<label for="password">Password</label>
				</div>
			</div>
			<button class="waves-effect waves-light btn col s12" *ngIf="loginBtnVisible" (click)="logInUser($event)">Log In</button>
			<div *ngIf="signUpVisible">
				<div class="row">
					<div class="input-field col s12">
						<i class="material-icons prefix">dehaze</i>
						<input id="cnfPassword" type="text">
						<label for="cnfPassword">Password Confirmation</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<i class="material-icons prefix">perm_contact_calendar</i>
						<input type="text" materialize="pickadate" [materializeParams]="[{format:'dd/mm/yyyy', selectYears:200, selectMonths:true, closeOnSelect:false}]" />
						<label for="dateOfBirth">Date of Birth</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<i class="material-icons prefix">location_city</i>
						<input id="location" type="text">
						<label for="location">Location</label>
					</div>
				</div> 
			</div>
			<button *ngIf="loginBtnVisible" class="waves-effect waves-light btn col s12" (click)="expandSignUp($event)">Sign Up</button>
			<button *ngIf="!loginBtnVisible" class="waves-effect waves-light btn col s12 amber" (click)="signUpUser($event)">Sign Up</button>
			<a *ngIf="!loginBtnVisible" (click)="hideSignUp($event)" class="btn-floating btn-large waves-effect waves-light teal hideSignUp center-align pulse"><i class="material-icons">arrow_upward</i></a>
		</form>
	</div>
</div>